.wrapper {
  padding: 50px;
}
#otp {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 44px;
}
#otp .otp-image {
  width: 45%;
}
#otp .otp-verification {
  padding: 80px;
  width: 60%;
  text-align: center;
}

#otp .otp-image .image-box img {
  width: 100%;
  display: block;
}
#otp .otp-verification h4 {
  font-size: 34px;
  margin-bottom: 30px;
}
#otp .otp-verification p {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 1.3em;
}
#otp .otp-verification form input {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 12px;
  margin-right: 18px;
  outline: none;
  margin-bottom: 30px;
  border: 3px solid #949494;
}
#otp .otp-verification form h5 {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  color: #cf0000;
}
#otp .otp-verification form input[type="submit"] {
  width: 50%;
  padding: 10px 14px;
  border-radius: 46px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  color: #021f3e;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  border: 3px solid #021f3e;
}

/* responsive start */

@media all and (max-width: 1200px) {
  #otp .otp-verification {
    padding: 50px;
  }
  #otp .otp-verification form input {
    width: 60px;
    height: 60px;
  }
}
