f:root {
    --dark-blue: #021F3E;
    --light-blue: #92ADBB;
    --shade-blue: #47758C;
    --content: #7A7A7A;
    --orenge: #C77935;
}

section#home {
    background: linear-gradient(232.95deg, #92ADBB 10.02%, #E6E6E6 100%);
    height: 100vh;
}


section#spotlight .wrapper {
    display: flex;
    height: calc(100vh - 100px);
    justify-content: space-between;
}

section#spotlight .wrapper .content-box {
    width: 45%;
    margin-right: 40px;
    padding-top: 100px;
}

section#spotlight .wrapper .content-box h3 {
    font-size: 52px;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 40px;
    color: var(--dark-blue);

}

section#spotlight .wrapper .content-box h3 span {
    color: var(--orenge);
}

section#spotlight .wrapper .content-box p {
    color: var(--shade-blue);
    width: 90%;
    line-height: 1.3em;
    margin-bottom: 40px;
}

section#spotlight .wrapper .image-container {
    width: 55%;
}


section#spotlight .wrapper .image-container img {
    width: 100%;
    display: block;
}

section#spotlight .wrapper .filter-box {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffffb1;
    padding: 20px 30px;
    border-radius: 12px;
}

section#spotlight .wrapper .filter-box input[type="text"] {
    border: none;
    outline: none;
    font-size: 18px;
    width: 100px;
    background: none;
}

section#spotlight .wrapper .filter-box .items {
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;
}

section#spotlight .wrapper .filter-box .item {
    margin-right: 34px;
    text-align: center;
}

section#spotlight .wrapper .filter-box .item h5 {
    margin-bottom: 12px;
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    align-items: center;

}

section#spotlight .wrapper .filter-box .item h5 .icon {
    width: 20px;
    margin-left: 6px;
    transform: rotate(-180deg);
}

section#spotlight .wrapper .filter-box .item h5 .icon img {
    width: 100%;
    display: block;
}

section#spotlight .wrapper .filter-box .item select {
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}

section#spotlight .wrapper .filter-box .item select option {
    font-size: 14px;
    text-transform: capitalize;

}

section#spotlight .wrapper .filter-box .button button {
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
    background-image: linear-gradient(to right, var(--shade-blue), var(--dark-blue), var(--light-blue), var(--dark-blue));
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #fff;
    padding: 20px 30px;
    border-radius: 10px;



}

section#spotlight .wrapper .filter-box .button button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, var(--shade-blue), var(--dark-blue), var(--light-blue), var(--dark-blue));
    box-shadow: 0 4px 15px 0 #021f3e96;
}

section#spotlight .wrapper .branding-text p {
    color: var(--dark-blue);
    margin-top: 26px;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
}

section#spotlight .wrapper .branding-text span {
    color: var(--orenge);
}

/* responsive-screen */
@media all and (max-width: 980px) {
    header .wrapper ul a {
        margin-right: 20px;
    }

    section#home {
        background: linear-gradient(232.95deg, #92ADBB 10.02%, #E6E6E6 100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        background-image: url(../../../assets/images/spotlight.jpg);
    }

    section#spotlight .wrapper .image-container {
        display: none;
    }

    section#spotlight .wrapper .content-box {
        width: 100%;
        text-align: center;
    }

    section#spotlight .wrapper .content-box p {
        margin: 40px auto 40px;
    }

    section#spotlight .wrapper .filter-box {
        margin: 0 auto;

    }

}

@media all and (max-width: 768px) {
    section#spotlight .wrapper .content-box h3 {
        font-size: 50px;
    }

    section#home {
        background-image: url(../../../assets/images/spotlight.jpg);
    }
}

@media all and (max-width: 640px) {
    section#spotlight .wrapper .content-box h3 {
        font-size: 44px;
    }

    section#spotlight .wrapper .content-box {
        margin-right: 0;
    }

    section#spotlight .wrapper .filter-box .items {
        width: 100%;
    }
}

@media all and (max-width: 560px) {
    section#spotlight .wrapper .content-box h3 {
        font-size: 40px;
    }

    section#spotlight .wrapper .filter-box {
        width: 100%;
        flex-direction: column;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    section#spotlight .wrapper .filter-box .button span {
        display: block;
        font-size: 16px;
    }

    section#spotlight .wrapper .filter-box .items {
        margin-bottom: 30px;
        justify-content: center;
    }
}

@media all and (max-width: 360px) {
    section#spotlight .wrapper .content-box h3 {
        font-size: 38px;
    }

    section#spotlight .wrapper .content-box p {
        font-size: 14px;
    }

    section#spotlight .wrapper .filter-box .item h5 {
        font-size: 14px;
    }

    section#spotlight .wrapper .filter-box input[type="text"] {
        font-size: 14px;
    }

    section#spotlight .wrapper .filter-box .item select {
        font-size: 14px;

    }
}