#password {
    padding: 100px 0;
    height: 100vh;
}

#password .forgot-password {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    width: 60%;
    padding: 60px 40px;
    margin: 0 auto;
}

#password .forgot-password h1 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

#password .forgot-password .content-box {
    display: flex;
    justify-content: center;
}

#password .forgot-password form {
    width: 60%;
    margin: 0 auto;
}

#password .forgot-password form label {
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
}

#password form input {
    border: 1px solid #000;
    padding: 10px 14px;
    border-radius: 20px;
    width: 100%;
    outline: none;
    display: block;
    margin-bottom: 30px;
}

#password .forgot-password button {
    width: 30%;
    border: none;
    padding: 12px 18px;
    border-radius: 46px;
    background-color: #021f3e;
    color: #fff;
    display: block;
    margin: 0 auto;
}

#password .forgot-password button.disable {
    display: none;
}

#password .verification form {
    height: 0;
    transition: 0.3s ease;
    visibility: hidden;
}

#password .verification form.open {
    height: auto;
    visibility: visible;
}

@media all and (max-width: 1280px){
    #password .forgot-password form {
        width: 70%;
    }
}
@media all and (max-width: 1000px){
    #password .forgot-password form {
        width: 80%;
    }
}
@media all and (max-width: 860px){
    #password .forgot-password form {
        width: 90%;
    }
}
@media all and (max-width: 680px){
    #password .forgot-password {
        width: 80%;
    }
    #password .forgot-password h1 {
        font-size: 26px;
    }
    #password .forgot-password form label{
        font-size: 16px;
    }
    #password .forgot-password button {
        width: 40%;
    }
}
@media all and (max-width: 480px){
    #password .forgot-password {
        width: 100%;
    }
}
@media all and (max-width: 360px){
    #password .forgot-password form {
        width: 100%;
    }
    #password .forgot-password h1 {
        font-size: 20px;
    }
    #password .forgot-password form label{
        font-size: 14px;
    }
}