:root {
    --dark-blue: #021F3E;
    --bg-light-blue: #92adbb52;
    --light-blue: #92ADBB;
    --shade-grey: #ABABAB;
    --content: #7A7A7A;
    --orange: #C77935;
}

#contact-container {
    background-image: linear-gradient(to bottom left, #92ADBB, #E6E6E6);
    padding: 0 0 50px 0;
}

#contact-container h4 {
    text-align: center;
    font-size: 28px;
    margin: 50px 0px;
}

#contact-container h4 span {
    color: var(--orange)
}

#contact-container .input-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contact-container .input-container .left {
    background-color: #fff;
    border-radius: 15px;
    padding: 40px 40px;
    width: 550px;
}

#contact-container .input-container .left input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--dark-blue);
    margin-bottom: 40px;
    font-size: 16px;
    padding-bottom: 18px;
}

#contact-container .input-container .left input::placeholder {
    display: block;
    font-size: 16px;
    color: var(--shade-grey);
}

#contact-container .input-container .left .message {
    border: none;
    border-bottom: 1px solid var(--dark-blue);
    width: 100%;
    padding: 30px 0;
}

#contact-container .input-container .left input[type="submit"] {
    padding: 10px 0px;
    color: #fff;
    background-color: var(--dark-blue);
    border-radius: 10px;
    width: 150px;
    margin-bottom: 0;
    cursor: pointer;
    transition: .3s ease;
}

#contact-container .input-container .left input[type="submit"]:hover {
    width: 170px;
}

#contact-container .input-container .right {
    width: 500px;
}

#contact-container .input-container .right img {
    width: 100%;
    display: block;
    animation: wobble-hor-bottom 0.8s both;
}

@keyframes color {
    0% {
        transform: scale(1);
    }

    0% {
        transform: scale(1.05);
    }

}

@keyframes wobble-hor-bottom {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}