:root {
    --dark-blue: #021F3E;
    --light-blue: #92ADBB;
    --shade-blue: #47758C;
    --content: #7A7A7A;
    --orange: #C77935;
}

section#top-package {
    padding: 50px 0;
    background-image: url("../../../assets/images/trip-mesh.png");
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}

section#top-package .head {
    text-align: center;
    margin-bottom: 80px;
}

section#top-package .head h3 {
    font-size: 24px;
    color: var(--dark-blue);
    text-transform: capitalize;
}

section#top-package .content ul {
    display: flex;
}

section#top-package .content ul li {
    cursor: pointer;
    width: 300px;
    max-height: 350px;
    margin-bottom: 20px;
    margin-right: 40px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

}

section#top-package .content ul::-webkit-scrollbar {
    height: 5px;
}

section#top-package .content ul::-webkit-scrollbar-thumb,
section#top-package .content ul::-webkit-scrollbar-track {
    border-radius: 92px;
}

section#top-package .content ul::-webkit-scrollbar-thumb {
    background: #dedede;
}

section#top-package .content ul::-webkit-scrollbar-track {
    background: #f5f5f5;
}


section#top-package .content ul li .image-box {
    border-radius: 20px;
    overflow: hidden;
}

section#top-package .content ul li:hover img {
    transform: scale(1.0);

}

section#top-package .content ul li img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    transform: scale(1.05);
    transition: .3s ease-in-out;

}

section#top-package .content ul li .shade {
    position: absolute;
    top: 100px;
    opacity: 0;
    display: block;
    background-image: linear-gradient(to top, rgb(0, 0, 0), #0000);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: .3s ease;
}

section#top-package .content ul li:hover .shade {
    top: 0;
    opacity: 1;
}

section#top-package .content ul li span {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    color: var(--orange);
    text-transform: capitalize;
    margin-bottom: 24px;
    transition: .3s ease;

}

section#top-package .button {
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    cursor: pointer;
}

section#top-package .button:hover h5::before {
    width: 140px;
    border-radius: 30px;
}

section#top-package .button small {
    width: 25px;
    margin-left: 10px;
    z-index: 4;
}

section#top-package .button h5 {
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
    z-index: 4;
    color: var(--dark-blue);
    font-weight: 400;
}

section#top-package .button h5::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--light-blue);
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -20px;
    z-index: -1;
    transition: .3s ease;
}

section#top-package .button small img {
    width: 100%;
    display: block;
}

/* responsive-screen */

@media all and (max-width: 980px) {
    section#top-package .content ul {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

    }

    section#top-package .content ul li {
        flex: 0 0 25%;
        scroll-snap-align: start;
        width: 200px;

    }
}

@media all and (max-width: 768px) {
    section#top-package .content ul li {
        width: 240px;
        height: 300px;
    }

    section#top-package .content ul li img {
        height: 320px;

    }
}

@media all and (max-width: 640px) {
    section#top-package .content ul li {
        margin-right: 20px;
    }
}

@media all and (max-width: 560px) {
    section#top-package .head h3 {
        font-size: 20px;
    }

    section#top-package .content ul {
        flex-wrap: wrap;
    }

    section#top-package .content ul li {
        width: 180px;
        height: 240px;
        margin-bottom: 20px;
    }

    section#top-package .content ul li img {
        height: 240px;


    }

    section#top-package .button h5 {
        font-size: 16px;
    }

    section#top-package .content ul li span {
        font-size: 16px;
    }

}

@media all and (max-width: 480px) {
    section#top-package .content ul li:nth-child(2n) {
        margin-right: 0;
    }

}