:root {
    --dark-blue: #021F3E;
    --light-blue: #92ADBB;
    --shade-blue: #47758C;
    --content: #7A7A7A;
    --orenge: #C77935;
}

section#workspace {
    padding: 80px 0;
    background-color: #efefef;
}

section#workspace .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#workspace .top-container h4 {
    font-size: 24px;
    text-transform: capitalize;
    color: var(--shade-blue);
}

section#workspace .top-container p {
    width: 50%;
    line-height: 1.3em;
    font-size: 20px;
    text-align: justify;
    color: var(--content);
}

section#workspace .features {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#workspace .features .image-container {
    display: flex;
}

section#workspace .features .image-container .image-box {
    width: 400px;
    margin-right: 20px;
    padding: 3px;
    border: 2px dashed var(--shade-blue);
    border-radius: 24px;
}

section#workspace .features .image-container .image-box:last-child {
    margin-right: 0;
}

section#workspace .features .image-container .image-box img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

section#workspace .features ul li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

section#workspace .features ul li img {
    width: 20px;
    margin-right: 8px;
}

section#workspace .banner-image {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/images/banner.jpg);
}

section#workspace .banner-image img {
    width: 100%;

    display: none;
    border-radius: 20px;
}

section#workspace .banner {
    position: relative;
    width: 90%;
    margin: 60px auto 0;

}

section#workspace .banner .text-box {
    position: absolute;
    padding-left: 30px;
    width: 40%;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-image: linear-gradient(to right, var(--shade-blue), rgba(0, 0, 0, 0));
    border-radius: 22px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section#workspace .banner .text-box h4 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

section#workspace .banner .text-box p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.3em;
    margin-bottom: 20px;
    text-transform: capitalize;
}

section#workspace .banner .text-box .button {
    cursor: pointer;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    display: inline;
    width: fit-content;
    padding: 12px 20px;
    transition: .3s ease-in;
    text-transform: capitalize;

}

section#workspace .banner .text-box .button:hover {
    background: #fff;
    color: #000;
}

/* responsive-screen */
@media all and (max-width: 980px) {
    section#workspace .top-container h4 {
        width: 47%;
        line-height: 1.3em;
    }

    section#workspace .features {
        flex-direction: column;
    }

    section#workspace .features ul {
        margin-bottom: 20px;
    }

    section#workspace .features .image-container .image-box {
        width: 100%;
    }

    section#workspace .banner {
        width: 100%;
    }

    section#workspace .banner .text-box {
        width: 65%;
    }

    section#workspace .banner .text-box h4 {
        font-size: 20px;
    }
}

@media all and (max-width: 768px) {
    section#workspace .banner-image {
        max-height: 250px;
    }
}

@media all and (max-width: 640px) {
    section#workspace .top-container {
        flex-direction: column;
    }

    section#workspace .top-container h4 {
        width: 100%;
    }

    section#workspace .top-container p {
        width: 100%;
    }

    section#workspace .features {
        margin-top: 30px;
    }

    section#workspace .banner .text-box {
        width: 74%;
    }

    section#workspace .top-container h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    section#workspace .top-container p {
        font-size: 16px;
    }

    section#workspace .banner .text-box h4 {
        font-size: 18px;
    }

    section#workspace .banner .text-box p {
        font-size: 14px;
    }
}

@media all and (max-width: 480px) {
    section#workspace .banner-image {
        max-height: 200px;
    }

    section#workspace .banner .text-box {
        padding-left: 20px;
    }

    section#workspace .features .image-container {
        flex-direction: column;
    }

    section#workspace .features .image-container .image-box {
        margin-bottom: 20px;
        margin-right: 0;
    }

    section#workspace .features .image-container .image-box:last-child {
        margin-bottom: 0;
    }
}