:root {
    --dark-blue: #021F3E;
    --light-blue: #92ADBB;
    --shade-blue: #47758C;
    --content: #7A7A7A;
    --orenge: #C77935;
}

#discover {
    padding: 80px 0;
}

#discover .head,
#client-box .head {
    text-align: center;
    margin-bottom: 50px;
}

#discover .head h4,
#client-box .head h4 {
    text-transform: capitalize;
    font-size: 24px;
    color: var(--dark-blue);
}

#client-box .head h4 span {
    color: var(--orenge);
}

#discover .main-city {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

#discover .main-city .cards {
    display: flex;
    align-items: center;

}

#discover .main-city .city-item {
    cursor: pointer;
    width: 300px;
    max-height: 220px;
    margin: 0 10px 20px 10px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: .3s ease;
}



#discover .main-city .city-item:hover,
#discover .main-city .big-item:hover {
    box-shadow: rgba(243, 113, 14, 0.512) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#discover .main-city .city-item:hover img,
#discover .main-city .big-item:hover img {
    transform: scale(1.05);
}

#discover .main-city .city-item::after,
#discover .main-city .big-item::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.384);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 35px;

}

#discover .main-city .city-item span,
#discover .main-city .big-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 4;
    font-size: 20px;
    font-weight: 600;
}


#discover .main-city .city-item img,
#discover .main-city .big-item img {
    width: 100%;
    display: block;
    border-radius: 35px;
    transition: .3s ease-in-out;
}

#discover .wrapper .button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

#discover .wrapper .button span {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--orenge);
    font-weight: 600px;
}


#discover .wrapper .button:hover img {
    transform: translateX(6px);
}

#discover .wrapper .button img {
    width: 20px;
    margin-left: 6px;

    transition: .4s ease-in-out;
}

#client-box {
    padding: 80px 0;
    background: #e3e3e3;
}

#client-box .client-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-box .client-slider .client-card {
    padding: 20px 30px;
    background: #fff;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-right: 20px;
}

#client-box .client-slider .client-card .avatar {
    width: 100px;
    margin: 0 auto 20px;
}

#client-box .client-slider .client-card h4 {
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--orenge);
}

#client-box .client-slider .client-card .avatar img {
    width: 100%;
    display: block;
    border-radius: 50%;
}

#client-box .client-slider .client-card span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    margin-bottom: 24px;
}

#client-box .client-slider .client-card span img {
    filter: invert(1);
    width: 10px;
    margin-right: 6px;
}

#client-box .client-slider .client-card h5 {
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 10px;
    color: #7A7A7A;
}

#client-box .client-slider .client-card p {
    text-transform: capitalize;
    line-height: 1.3em;
    font-size: 14px;
    color: var(--content);
    margin-bottom: 12px;
}

#client-box .client-slider .client-card small {
    text-transform: capitalize;
    font-size: 16px;
    color: var(--orenge);
    font-weight: 600;
}

@media all and (max-width: 768px) {
    #discover .main-city .cards {
        flex-wrap: wrap;
    }

    #discover .main-city .big-item {
        width: 100%;
    }

    #discover .main-city .city-item {
        width: 47%;
    }
}

@media all and (max-width: 640px) {

    #discover .head h4,
    #client-box .head h4 {
        font-size: 20px;
    }

    #discover .main-city .city-item {
        width: 46%;
    }
}

@media all and (max-width: 480px) {
    #discover .main-city .city-item {
        width: 100%;
    }
}