:root {
    --light-grey: #92ADBB;
    --light-blue: #47758C;
    --dark-blue: #021F3E;
    --grey: #7A7A7A;
}

#single-package-container img {
    display: block;
    width: 100%;
}
#single-package-container .spotlight {
    position: relative;
}
#single-package-container .spotlight .cover-img-container {
    position: absolute;
    z-index: -5;
    top: 0px;
}
#single-package-container .spotlight .cover-img-container img {
    display: block;
    width: 100vw;
    height: 500px;
}
#single-package-container .spotlight .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}
#single-package-container .spotlight .title h4 {
    z-index: 5;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    color: #fff;
}
#single-package-container .spotlight .title .location {
    display: flex;
    align-items: center;
}
#single-package-container .spotlight .loc-img {
    width: 12px;
    height: 12px;
    z-index: 5;
    margin-right: 12px;
    display: flex;
    align-items: center;
}
#single-package-container .spotlight .title .location span {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    text-transform: capitalize;
}
#single-package-container .content {
    background-color: #fff;
    margin-top: 60px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
#single-package-container .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    margin-bottom: 20px;
}
#single-package-container .content .top .icon-img {
    width: 25px;
    margin-right: 12px;
}
#single-package-container .content .top .left {
    display: flex; 
    align-items: center;
}
#single-package-container .content .top span {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
#single-package-container .content .top .center {
    display: flex;
    align-items: center;
}
#single-package-container .content .top .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#single-package-container .content .top .right span {
    font-size: 24px;
    font-weight: bold;
    color: var(--light-grey);
}
#single-package-container .content .top .right span small {
    font-size: 26px;
    font-weight: bold;
    color: var(--light-grey);
    margin-right: 8px;
}
#single-package-container .content .top .right button {
    padding: 15px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-image: linear-gradient(to right, #021F3E, #92ADBB);
    border: none;
}
#single-package-container .content .middle {}
#single-package-container .content .middle h6 {
    font-size: 32px;
    text-transform: capitalize;
    color: var(--light-blue);
    margin-bottom: 12px;
}
#single-package-container .content .middle p {
    font-size: 14px;
    margin-bottom: 20px;
}
#single-package-container .content .middle span {
    font-size: 16px;
    font-weight: bold;
    margin-right: 8px;
}
#single-package-container .content .middle h5 {
    font-size: 24px;
    color: var(--light-blue);
    margin-bottom: 40px;
}
#single-package-container .content .middle .list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
#single-package-container .content .middle .list ul li {
    display: flex;
    width: 400px;
    margin-bottom: 15px;
}
#single-package-container .content .middle .list ul li img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
#single-package-container .content .middle .list ul li span {
    font-size: 14px;
}
#single-package-container .content .bottom {}
#single-package-container .content .bottom h5 {
    font-size: 28px;
    color: var(--light-blue);
    margin-bottom: 24px;
}
#single-package-container .content .bottom h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    color: var(--dark-blue);
}
#single-package-container .content .bottom span {
    display: inline-block;
    font-size: 14px;
    color: var(--grey);
    font-weight: bold;
    margin-bottom: 20px;
}
#single-package-container .content .bottom p {
    font-size: 14px;
    color: var(--grey);
    font-weight: bold;
}
#single-package-container .slide-container {
    margin-top: 40px;
    margin-bottom: 40px;
}
#single-package-container .slide-container h5 {
    font-size: 24px;
    color: var(--light-blue);
    margin-bottom: 24px;
}
#single-package-container .slide-container .slide {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    width: 250px;
    padding: 20px;
}
#single-package-container .slide-container .slide h6 {
    font-size: 16px;
}
#single-package-container .slide-container .slide span {
    display: block;
    font-size: 15px;
    color: var(--light-grey);
    font-weight: bold;
    margin-bottom: 12px;
}
#single-package-container .slide-container .slide button {
    color: #fff;
    background-color: var(--dark-blue);
    padding: 5px 10px;
    border-radius: 20px ;
    font-size: 14px;
    width: 100%;
}
#single-package-container .direction-container .direction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
#single-package-container .direction-container .left h6 {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--dark-blue);
    margin-bottom: 8px;
}
#single-package-container .direction-container .left h5 {
    font-size: 28px;
    color: var(--light-blue);
    font-weight: normal;
    margin-bottom: 18px;
}
#single-package-container .direction-container .left .location {
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-bottom: 24px;
}
#single-package-container .direction-container .left .location .loc-img {
    width: 18px;
    display: flex;
    margin-right: 8px;
}
#single-package-container .direction-container .left .location span {
    font-size: 14px;
}
#single-package-container .direction-container .left .direct-button {
    display: flex;
    align-items: center;
}
#single-package-container .direction-container .left .direct-button .button {
    display: flex;
    align-items: center;
}
#single-package-container .direction-container .left .direct-button button {
    font-size: 16px;
    background-color: #fff;
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
}
#single-package-container .direction-container .left .direct-button button img {
    width: 15px;
    margin-left: 8px;
}
#single-package-container .direction-container .left .direct-button .arrow-img{
    width: 10px;
}
#single-package-container .direction-container .price {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#single-package-container .direction-container .price span {
    font-size: 24px;
    font-weight: bold;
    color: var(--light-grey);
}
#single-package-container .direction-container .price span small {
    font-size: 26px;
    font-weight: bold;
    color: var(--light-grey);
    margin-right: 8px;
}
#single-package-container .direction-container .price button {
    padding: 15px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-image: linear-gradient(to right, #021F3E, #92ADBB);
    border: none;
}