#about-content {
  padding: 80px 0;
}
#about-content .top-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

#about-content .top-content h3 {
  width: 40%;
  font-size: 40px;
  color: #47758c;
  line-height: 1.5em;
}
#about-content .top-content p {
  width: 60%;
  line-height: 1.5em;
}
#about-content .bottom-content {
  display: flex;
  justify-content: space-between;
}
#about-content .bottom-content p {
  width: 60%;
  line-height: 1.5em;
}
#about-content .bottom-content h3 {
  width: 30%;
  text-align: right;
  font-size: 40px;
  color: #47758c;
  line-height: 1.5em;
}
#team {
  padding: 50px 0;
}
#team h6 {
  text-align: center;
  color: #c77935;
  font-size: 18px;
  margin-bottom: 36px;
}
#team h3 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
  color: #021f3e;
}
#team .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#team .items .item {
  width: 28%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#team .items .item .team-member {
  width: 100%;
}
#team .items .item .team-member img {
  width: 100%;
  display: block;
}
#team .items .item .text-box {
  padding: 20px;
}
#team .items .item .text-box h5 {
  font-size: 22px;
  margin-bottom: 10px;
}
#team .items .item .text-box p {
  color: #a4a4a4;
  font-size: 16px;
  margin-bottom: 10px;
}
#team .items .item .text-box img {
  width: 25px;
  height: 25px;
  background-color: #cac8c8;
  margin-right: 10px;
  padding: 5px;
  border-radius: 14px;
}

/* responsive start */

@media all and (max-width: 1080px) {
  #about-content .top-content p {
    width: 55%;
  }
}
@media all and (max-width: 980px) {
  #about-content .top-content {
    flex-direction: column;
  }
  #about-content .top-content h3 {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-content .top-content p {
    width: 100%;
  }
  #about-content .bottom-content {
    flex-direction: column-reverse;
  }
  #about-content .bottom-content p {
    width: 100%;
  }
  #about-content .bottom-content h3 {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  #team .items .item {
    width: 30%;
  }
}
@media all and (max-width: 640px) {
  #team .items .item {
    width: 48%;
  }
  #team .items .item:nth-child(n + 3) {
    margin-top: 24px;
  }
}
@media all and (max-width: 480px) {
  #about-content .top-content h3 {
    font-size: 30px;
  }
  #about-content .bottom-content h3 {
    font-size: 30px;
  }
  #about-content .top-content p {
    font-size: 14px;
  }
  #about-content .bottom-content p {
    font-size: 14px;
  }
  #team .items .item {
    width: 95%;
  }
  #team .items .item:nth-child(n + 2) {
    margin-top: 24px;
  }
}
