* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.wrapper {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
}



@font-face {
    font-family: 'poppinsbold';
    src: url('./components/assets/fonts/poppins-bold-webfont.woff2') format('woff2'),
        url('./components/assets/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsmedium';
    src: url('./components/assets/fonts/poppins-medium-webfont.woff2') format('woff2'),
        url('./components/assets/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsregular';
    src: url('./components/assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('./components/assets/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinssemibold';
    src: url('./components/assets/fonts/poppins-semibold-webfont.woff2') format('woff2'),
        url('./components/assets/fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'poppinsbold';
}

body {
    font-family: 'poppinsregular';
}

.loader-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}