* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'metricregular';
}

.wrapper {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
}


@font-face {
    font-family: 'metricsemibold';
    src: url('./components/assets/fonts/metric-semibold-webfont.woff2') format('woff2'),
        url('./components/assets/fonts/metric-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'metricbold';
    src: url('./components/assets/fonts/metric-bold-webfont.woff2') format('woff2'),
        url('./components/assets/fonts/metric-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'metricregular';
    src: url('./components/assets/fonts/metric-regular-webfont.woff2') format('woff2'),
        url('./components/assets/fonts/metric-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* fonts-end */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'metricregular';
    font-weight: 600;
}

p {
    font-family: 'metricregular';
}

body {
    font-family: 'metricregular';
}

.loader-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}