:root {
    --dark-blue: #021F3E;
    --light-blue: #92ADBB;
    --shade-blue: #47758C;
    --content: #7A7A7A;
    --orenge: #C77935;
}

#departure-info {
    padding: 40px 0;
}

.date-container {
    padding: 80px 50px;
    background: #f2f2f2;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}

.date-container .content-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-container h3 {
    text-align: center;
    color: var(--orenge);
    margin-bottom: 40px;
    font-size: 24px;
}

.date-container .confirmation-box {
    margin-left: 50px;
    padding: 30px 30px;
    border: 1px solid var(--dark-blue);
    border-radius: 20px;
    width: 40%;
}

.date-container .confirmation-box h4 {
    font-size: 18px;
}

.date-container .confirmation-box .info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.date-container .confirmation-box h5 {
    font-size: 20px;
    color: var(--orenge);
}

.date-container .confirmation-box span {
    color: var(--content);
    font-size: 20px;
    font-weight: bold;
}

.date-container .confirmation-box h2 {
    font-size: 18px;
    margin-bottom: 50px;
    color: #288321;
}

.date-container .confirmation-box a {
    background: var(--orenge);
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    transition: .3s ease;
}

.date-container .confirmation-box a:hover {
    background: #905826;
}

.react-calendar {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px !important;
    transition: 1s ease !important;

}